/* Application wide styles */

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    /* -fx-background-color: linear-gradient(#61a2b1, #2A5058); */
    -fx-cursor: hand;
}

.button:hover{
    -fx-base: #395bae;
}

/* Component specific styles */


.main-panel {
    /* -fx-background-image: url("../images/background.jpg"); */
}

.hello-message {
    -fx-text-fill: #AA0000;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.project-new {
	-fx-graphic: url("../images/folder_add_24.png");
}

.project-edit {
	-fx-graphic: url("../images/folder_edit_24.png");
}

.project-delete {
	-fx-graphic: url("../images/folder_delete_24.png");
}

.task-new {
    -fx-graphic: url("../images/gear_add_24.png");
}

.task-edit {
    -fx-graphic: url("../images/gear_edit_24.png");
}

.task-delete {
    -fx-graphic: url("../images/gear_delete_24.png");
}